*{
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

#getDatos{
    margin-top: 50px;
    margin-left: 300px;
}
#getTotal{
    background: black;
    margin-left: 50px;
    margin-top: 50px;
}
#datos{
    background: rgb(223, 219, 219);
    width: 70%;
   
    margin-left: 300px;
    margin-top: 20px;
}
#total{
    background: rgb(223, 219, 219);
    width: 70%;
   
    margin-left: 300px;
    margin-top: 20px;
}